<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">A very useful discount module for Sale Order Line.</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://browseinfo.in">
                    <img src="discount.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">BrowseInfo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Through this we can apply discount for each Sale order line.
            </p>
        </div>
    </div>
</section>
