<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Current Stock XLS</h2>
        <h3 class="oe_slogan">Current Stock Report for all Products in each Warehouse</h3>
         <h4 class="oe_slogan"><a href="https://www.cybrosys.com">Cybrosys Technologies</a> </h4>
    </div>
    <div class="oe_row oe_spaced">
        <div>
            This module helps to print Current Stock Report for all Products in each Warehouse with XLS.
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div>
                 &#x261B; Installation : To install this module, you need also the report_xlsx module.
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="image1.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Go to Reporting -> Warehouse -> Current stock in Excel. Now a wizard will appear on your screen.
                Please enter the warehouses which you want to take the report. You can also select category for products(It is Optional).
                Then Click "Export Product with Stock Info" button. Then You will get the corresponding report in XLS.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image2.png">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class='oe_mt32'>
               Per warehouse you can get Available Qty, Virtual Qty, Incoming Qty, Outgoing Qty, Net On Hand Qty,
                Total Sold & Total Purchased Qty. You can get your stock valuation details too. In below screen-shot you
                can see stock details of 2 warehouse exported in single spreadsheet. Negative stock will be highlighted
                in "red" cells.
            </p>
        </div>
         <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="image3.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
        <div class="oe_slogan" style="margin-top:10px !important;">
            <div>
                <a  class="btn btn-primary btn-lg mt8"
                style="color: #FFFFFF !important;border-radius: 0;" href="https://www.cybrosys.com"><i
                class="fa fa-envelope"></i> Email </a> <a
                class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
                href="https://www.cybrosys.com/contact/"><i
                class="fa fa-phone"></i> Contact Us </a> <a
                class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
                href="https://www.cybrosys.com/odoo-customization-and-installation/"><i
                class="fa fa-check-square"></i> Request Customization </a>
            </div>
            <br>
            <img src="cybro_logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
            <div>
              <a href="https://twitter.com/cybrosys" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;"></i></a></td>
              <a href="https://www.linkedin.com/company/cybrosys-technologies-pvt-ltd" target="_blank"><i class="fa fa-2x fa-linkedin" style="color:white;background: #31a3d6;width:35px;padding-left: 3px;"></i></a></td>
              <a href="https://www.facebook.com/cybrosystechnologies" target="_blank"><i class="fa fa-2x fa-facebook" style="color:white;background: #3b5998;width:35px;padding-left: 8px;"></i></a></td>
              <a href="https://plus.google.com/106641282743045431892/about" target="_blank"><i class="fa fa-2x fa-google-plus" style="color:white;background: #c53c2c;width:35px;padding-left: 3px;"></i></a></td>
              <a href="https://in.pinterest.com/cybrosys" target="_blank"><i class="fa fa-2x fa-pinterest" style="color:white;background: #ac0f18;width:35px;padding-left: 3px;"></i></a></td>
            </div>
        </div>
</section>



