<section class="oe_container">
    <div class="oe_row oe_spaced"> 
        <div class="oe_span12">
            <h3 class="text-info text-center"><u>Introduction</u></h3>
        </div>

        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
               <center><img class="oe_picture oe_screenshot" src="website_back2top_main_image.png" alt="website_back2top_main_image"></center>
            </div>
        </div>
        <div class='oe_span12 text-center'>
            <ul>
                <p>This module allow to you return to top instantly, no need to scroll unnecessary.</p>
            </ul>
        </div>    
    </div>
</section>

<br/>

<section class="oe_container oe_dark">
    <div class='oe_row'>
        <div class="oe_span12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (not including data recovery) or any type of issue related to modules.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section><section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-SCROLL-BACK-TO-TOP&url=https://apps.openerp.com/apps/modules/8.0/website_back2top&uid=website_back2top" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	